/* Global Rules */
* {
  box-sizing: border-box;
}

body {
  background-color: #212529;
}

.overlay {
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

section .row {
  margin-bottom: 50px;
}

.main-section {
  color: #DDD;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.section-title {
  text-align: center;
  margin: 40px auto;
  color: #DDD;
}

/* Navbar Rules */
.navbar {
  background-color: rgb(33 37 41 / 70%);
  z-index: 3;
}

.navbar .navbar-brand {
  color: #FFD700;
  font-weight: bold;
  overflow: hidden;
}

.navbar .navbar-brand:hover {
  color: #FFD700;
}

.navbar .navbar-brand img {
  width: 50px;
  height: 45px;
  border-radius: 50%;
  margin-right: 5px;
}

.navbar .nav-link {
  font-size: 18px;
}

.navbar .navbar-nav .nav-link {
  transition: .5s;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #FFD700;
}

/* Carousel Rules */
.carousel {
  position: relative;
}

/* Intro Rules */
.intro {
  /* background-color: black; */
  color: #DDD;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  padding: 15px;
}

/* Intro Media Query Rules */
@media (max-width: 616px) {
  .intro {
    top: 35%;
    display: none;
  }
  .intro .text-container {
    text-align: center;
  }
  .intro .text-container h1 {
    font-size: 1.3em;
  }
  .intro .text-container img {
    margin-top: 0;
    font-size: 1.3em;
  }
  .intro .text-container p {
    font-size: 1.3em;
    display: none;
  }
}

.intro .img-container {
  margin: auto;
  width: 130px;
  height: 120px;
  overflow: hidden;
}

.intro .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.intro .text-container h1 {
  color: #FFD700;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.intro .text-container p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
}

.intro .text-container img {
  margin-top: 7px;
}

/* Social Media Rules */
.social-media {
  position: fixed;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  background-color: rgb(33 37 41 / 70%);
  border-radius: 8px;
  padding: 5px;
  z-index: 2;
}

.social-media .nav-link {
  color: #DDD;
  font-size: 22px;
  opacity: .5;
  transition: .8s;
}

.social-media .nav-link:hover {
  opacity: 1;
  transform: scale(1.7);
}

.social-media .nav-link:hover .linkedin {
  color: #2867B2;
}

.social-media .nav-link:hover .twitter {
  color: #1DA1F2;
}

.social-media .nav-link:hover .facebook {
  color: #4267B2;
}

.social-media .nav-link:hover .instagram {
  color: #FFF;
}

/* About Section Rules */
.about-section .img-container {
  overflow: hidden;
  height: 300px;
  border-radius: 6px;
}

.about-section .img-container img {
  width: 100%;
}

.about-section .details {
  background-color: #2b3034;
  box-shadow: 0 0 2px 0 #DDD;
  color: #FFF;
  min-height: 300px;
  padding: 25px 100px;
  border-radius: 6px;
  overflow: hidden;
}

/* Services Section Rules */
.services-section .services-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.services-section .services-container > div {
  background-color: #2b3034;
  box-shadow: 0 0 2px 0 #DDD;
  width: 33%;
  margin: 10px;
  text-align: center;
}

.services-section .services-container div img {
  width: 100%;
}

.services-section .services-container div .services-details {
  padding: 5px;
}

@media (max-width: 767px) {
  .services-section .services-container {
    flex-direction: column;
  }
  .services-section .services-container div {
    width: 100%;
  }
}

/* Skills Section Rules */
.skills-section .skill-box {
  background-color: #2b3034;
  color: #DDD;
  box-shadow: 0 0 5px -2px #DDD;
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
}

@media (max-width: 767px) {
  .skills-section .skill-box {
    display: block;
  }
}

.skills-section .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}

@media (max-width: 767px) {
  .skills-section .skill-box .skill-name {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}

.skills-section .skill-box .skill-progress {
  background-color: #f1f1f1;
  width: 100%;
  height: 30px;
  position: relative;
  border-radius: 5px;
}

.skills-section .skill-box .skill-progress span {
  background-color: cornflowerblue;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 5px;
  transition: all 0.5s;
}

/* Works Section */
.works-section .works-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.works-section .works-container div {
  background-color: #2b3034;
  box-shadow: 0 0 2px 0 #DDD;
  width: calc(100% / 4);
  margin: 10px;
  text-align: center;
}

.works-section .works-container div img {
  width: 100%;
}

/* Works Section Media Query Rules */
@media (max-width: 767px) {
  .works-section .works-container {
    flex-direction: column;
    margin: auto;
  }
  .works-section .works-container div {
    width: 98%;
  }
}

/* Testimonials Section Rules */
.testimonials-section .testimonials-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.testimonials-section .testimonials-container .testi-info {
  background-color: #2b3034;
  box-shadow: 0 0 2px 0 #DDD;
  width: 100%;
  min-height: 320px;
  margin: 10px;
  text-align: center;
}

.testimonials-section .testimonials-container .testi-info img {
  width: 100%;
  height: 100%;
}

.testimonials-section .testimonials-container .testi-info .testi-img-cont {
  height: 200px;
  overflow: hidden;
}

.testimonials-section .testimonials-container .testi-info .testi-details {
  padding: 10px 5px;
}

/* Testimonials Section Media Query Rules */
@media (max-width: 767px) {
  .testimonials-section .testimonials-container {
    flex-direction: column;
    margin: auto;
  }
  .testimonials-section .testimonials-container div {
    width: 98%;
  }
}

/* Contact Section */
.contact-section form {
  width: 50%;
  margin: auto;
}

.contact-section form input[type="submit"] {
  display: block;
  width: 100%;
}

.contact-section form textarea{
  resize: none;
  height: 300px;
}

@media (max-width: 767px) {
  .contact-section form {
    width: 73%;
  }
}

/* Footer Rules */
footer {
  color: #DDD;
  padding-top: 100px;
}